<h1>Reminders for {{author.name}}</h1>
<div>
  {{#each author.reminders}}
    <div class="reminders-show-each">
      <p>{{body}}</p>
      <form method="post" action="/authors/{{../author._id}}/reminders/{{_id}}?_method=delete">
        <input type="submit" value="Done">
      </form>
    </div>
  {{/each}}
</div>

<div class="reminder-new">
  <h3>New Reminder</h3>
  <form class="" action="/authors/{{author._id}}/reminders" method="post">
    <label>Reminder</label>
    <input type="text" name="reminder" value="">
    <input type="submit">
  </form>
</div>

<div class="author-edit">
  <a href="/authors/{{author._id}}/edit">Edit Author</a>
  <a href="/authors">Back</a>
</div>
